@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #12131B;
  --primary: #1B1C29;
  --secondary: #FBA931;
}

body {
  background: var(--foreground);
}
